* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: darkgray;
}

.grid.over {
  opacity: 0.5;
  pointer-events: none;
}

.grid div {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(156, 255, 110);
}

.bomb.show {
  background-image: url("/assets/bomb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.checked {
  background-color: rgb(156, 255, 110);
  text-align: center;
}

.grid div.flag {
  background-image: url("/assets/flag.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
